# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read         # Allows reading repository content
      pull-requests: write  # Allows writing to pull requests
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.3'

    - name: Build
      run: go build -o ./build/ ./...

    - name: Test
      run: go test -v ./...

    - name: Upload binary
      uses: actions/upload-artifact@v4.6.2
      with:
        name: my-binaries
        path: ./build/
